@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter';
    height: 100vh;
    background: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

form {
    background: white;
    padding: 60px;
    width: 500px;
    max-width: calc(100% - 60px);
    border-radius: 10px;
}

.form-element {
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
}

.form-element span {
    margin-bottom: 10px;
}

input, textarea, select {
    border: 1px solid #d0d2e2;
    line-height: 2;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    border-radius: 5px;
}

#output {
    padding: 50px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#team-label {
    margin-top: 10px;
    font-weight: bold;
    font-size: 30px;
}

form button {
    width: 100%;
    padding: 20px;
    color: white;
    background: #1aaaef;
    border-radius: 5px;
    border: none;
    font-size: 18px;
}